@charset "utf-8";

.todo {
  margin: auto;
  margin-top: 2.5vh;
  background: white;
  width: 320px;
  height: 95vh;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 2px 5px 20px rgba(0,0,0,0.5);
  overflow: auto;
}

@media screen and (max-width: 576px) {
  .todo {
    margin-top: 2.5vh;
    width: 95vw;
    height: 95vh;
  }
}