@charset "utf-8";

/* HEADER */
h1 {
    text-align: center;
    padding: 28px 15px 11px 15px;
    color: white;
    background: #00796b;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    text-shadow: 4px 4px 4px rgba(0,0,0,0.6);
    letter-spacing: 2px;
}

h1 span {
    font-size: 0.8em !important;
    margin-right: 5px;
    float: right;
    transition: 0.5s;
}

h1 span:hover {
    cursor: pointer;
    color: lightgrey;
}

.bg-btn {
    background: #00796b !important;
    border-radius: 80px !important;
}

.bg-btn:focus, .bg-btn:active, .list-btn:active, .list-btn:focus {
    outline: none;
}